
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
@media(min-width:768px){
    .container{
        width:750px;
    }
}
@media(min-width:992px){
    .container{
        width:970px;
    }
}
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
.title{
    font-weight: bold;
    font-size: 24px;
}
.sub_title{
    color: gray;
}
.search_bar{
    width: 100%;
    padding:10px;
    border-radius: 6px;
    margin: 20px 0px;
}
.section{
    margin-bottom: 32px;
}
.company_card{
    display: flex;
    flex-direction: column;
    gap:10px
}